[Unit]
Description=Porch Lamps

[Service]
User=pi
ExecStart=python3 /home/pi/porchlamps/porchlamps.py config=/home/pi/porchlamps/porchlamps.conf
StandardOutput=null
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
